 .forum-col {
     min-width: 16em;
 }
 
 .last-post-col {
     min-width: 12em;
 }
 
 .topic-col {
     min-width: 16em;
 }
 
 .created-col {
     min-width: 12em;
 }
 
 .author-col {
     min-width: 12em;
 }
 
 .post-col {
     min-width: 20em;
 }